/* body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/img/gradient_bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1rem;
  background-color: #0f1114;
} */
